module {{ package_name }}

go 1.21

require (
	github.com/gofiber/fiber/v2 v2.52.0
	github.com/gofiber/fiber/v2/middleware/cors v2.52.0
	github.com/gofiber/fiber/v2/middleware/helmet v2.52.0
	github.com/gofiber/fiber/v2/middleware/logger v2.52.0
	gorm.io/gorm v1.25.5
{% if database.type == 'postgres' %}
	gorm.io/driver/postgres v1.5.4
{% elif database.type == 'mysql' %}
	gorm.io/driver/mysql v1.5.2
{% else %}
	gorm.io/driver/sqlite v1.5.4
{% endif %}
	github.com/joho/godotenv v1.5.1
	github.com/google/uuid v1.5.0
)